<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="basedir" value="${basedir}/logs/${shortdate}.log"/>
  <variable name="base_layout" value="${uppercase:${level}}: ${date:format=yyyy-MM-dd HH\:mm\:ss} ${message}"/>

  <targets>
    <target xsi:type="File" name="all_levels" fileName="${var: basedir}" layout="${var: base_layout}" />
    <target xsi:type="File" name="fatal_level" fileName="${var: basedir}" layout="(!) ${var: base_layout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="all_levels" />
    <logger name="*" minlevel="Fatal" writeTo="fatal_level" />
  </rules>
</nlog>
